
<div class="top_bg_ofr_sb">
    <div class="middle_sec_sb">
   <h1> Admin</h1> 
   <div class="clr"></div>
   <div class="tab-content">
    <div class="header">
       
        <nav>
            <a  class="active" routerLink="/manageSchedule" >Manage Schedule</a> <br>
            <a  class="active"routerLink="/manage-discount">Manage Discounts</a> <br>
            <a  class="active" routerLink="/managearline" >Manage Airlines</a> <br>
           
            <a  class="active"routerLink="/">Admin Logout</a> <br>
        </nav>
       
        
    </div>



</div>
   </div>
</div>









<router-outlet></router-outlet>
