<div class="top_bg_ofr_sb">
    <div class="middle_sec_sb">
   <h1> Apply Dicount</h1> 
   <div class="clr"></div>

   <div class="container">
    <div class="action">
      
      <label for="lname">Promo Code</label>
      <input type="text" id="lname" name="lastname" placeholder="Promo Code..">
      <label for="lname">Disount Price</label>
      <input type="number" id="lname" name="lastname" placeholder="Discount Price..">
  
      <div class="header">
          <button class="active" click="applydiscount()" >Apply Discount</button>
       </div>
      </div>
  </div>


</div>
</div>