
<div class="top_bg_ofr_sb">
    <div class="middle_sec_sb">
   <h1> User</h1> 
   <div class="clr"></div>
   <div class="tab-content">




<div class="header">
    <header> 
       
        <nav>
            <a  class="active" routerLink="/book-flight" >Book Flight</a> 
            <a  class="active"routerLink="/manage-bookings">Manage Bookings</a>
            <a  class="active" routerLink="/booking-history" >Booking History</a> 
            <a  class="active"routerLink="/">Logout</a>
        </nav>
    </header>
    </div>

    </div>
    </div>
    </div>

    <router-outlet></router-outlet>